body {
    display: flex;
    flex-direction: column;

    font-family: "American Typewriter", sans-serif;
}

.header {
    margin: 10px;
}

h2 {
    font-weight: lighter;
}

.h1-and-worldmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "American Typewriter", "sans-serif";
    color: rebeccapurple;
}

#world-map-image {
    width: 1000px;
}

main {
    margin: 10px;
}

.country-box {
    margin-top: 20px;
    background-color: #DFE9EB;
    border-radius: 20px;
    height: 7700px

}

.countries {
    list-style-type: none;
    font-size: 15px;
    column-count: 3;
    display: inline-block;
}

.countryName {
    font-size: 20px;
    font-weight: normal;
    display: inline-block;

    margin-left: 15px;
}

.population {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 40px;

    font-weight: lighter;
    font-size: 10px;
}

#flag {
    width: 40px;
    display: inline-block;
}

#africa {
    color: #3E8DE3;
}

#americas {
    color: #19b087;
}

#asia {
    color: #c82628;
}

#europe {
    color: #d7ad0d;
}

#oceania {
    color: #682bd7;
}

#other {
    color: #9c9c9c;
}

#search-field {
    width: 300px;
}

button {
    width: 80px
}