
#world-map-image {
    width: 1000px;
}

#africa {
    color: blue;
}

#americas {
    color: green;
}

#asia {
    color: red;
}

#europe {
    color: yellow;
}

#oceania {
    color: rebeccapurple;
}

#other {
    color: indianred;
}

#flagC {
    width: 100px;
}